<div class="bg-light p-3 rounded">
    <h5 class="card-title">
        <%= service.title %>
    </h5>
    <p class="card-text">
        <%= service.description %>
    </p>
    <h6 class="card-text">
        <%= service.price %>€
        <small class="text-muted">
            /<%= service.unit %>
        </small>
    </6>
</div>