<h1>Services disponibles</h1>

<div class="row" id="services">
    <% @services.each do |service| %>
        <div class="col-sm-6 col-lg-4  pb-4">
            <%= render service, actions: true %>
        </div>
    <% end %>
</div>