
<h1>Mes services</h1>
<%= link_to "Nouveau service", new_service_path, class:"btn btn-primary" %>

<div class="mt-3 row" id="services">
    <% @services.each do |service| %>
        <div class="col-sm-6 col-lg-4  pb-4">
            <%= render service, own:true, hide_user:true %>
        </div>
    <% end %>
</div>

