<p style="color: green"><%= notice %></p>

<h1>Mes services</h1>

<div class="row" id="services">
    <% @services.each do |service| %>
      <div class="col-sm-4">
        <%= render service %>
      </div>
    <% end %>
</div>

<%= link_to "New service", new_service_path %>
