<div class="row">
  <div class="col-lg-7 offset-lg-1">
    <%= render "services/service_summary", service: @service, no_action: true %>
  </div>
  <div class="col-lg-3 offset-lg-1">
    <div class="d-grid gap-1">
      <%= link_to "Edit this service", edit_service_path(@service), class:'col-12 btn btn-primary' %>
      <%= link_to "Back to services", customer_services_path, class:'col-12 btn btn-primary' %>
  </div>
</div>
