<div class="row">
    <div class="col-md-6 mb-2">
        <%= render "services/service_summary", service: @service, actions: true %>
    </div>

    <div class="col-md-6 mb-2">
        <%= render "users/pro_card", user: @service.user %>
    </div>
</div>
