<div class="row">
    <div class="col-lg-6">
        <h1 class="display-4 mt-4 mt-md-5">Prennez rendez-vous avec des professionnels</h1>
        <p class="my-4">Pro&co vous permet gratuitement de trouver plus de 8 milliards de professionnels dans votre région pour réaliser vos photos, design, documents légaux et plus encore.</p>

        <%= link_to 'Découvrir les services', customer_services_path, class:'btn btn-primary' %>
        <%= link_to 'Vous êtes professionnel?', new_user_registration_path, class:'btn'  %>
    </div>
    <div class="col-12 offset-md-4 col-md-8 order-first order-lg-0 offset-lg-0 col-lg-6 d-flex flex-column align-items-start">
        <%= image_tag 'landing.jpg', alt:" ", class:"w-100 img-fluid rounded" %>
        <a class="d-inline-block ms-auto text-muted text-decoration-none mt-1" href="https://unsplash.com/@surface">Photo par Surface</a>
    </div>

    

</div>