<h1 class="pt-5">Bienvenue, <%= current_user.name %></h1>

<div class="row">
    <% 
        if current_user.is_pro
            subtitle = 'Compte professionnel'
            links = [
                {href:edit_user_registration_path, text:'Modifier mon compte'}, 
                {href:pro_path, text:'Accéder à l\'espace professionnel'}
            ]
        else 
            subtitle = 'Compte personnel'
            links = [
                {href:edit_user_registration_path, text:'Modifier mon compte'}
            ]
        end 
    %>

    <%= render "partials/card", 
        title:current_user.name, 
        subtitle:subtitle, 
        links:links
    %>
<div>

<h2 class="pt-5">Prochains rendez-vous</h2>
<%= link_to 'Tout voir', my_meets_path, class: 'mb-3 btn btn-secondary' %>
<div class="row">
    <% @meets_incoming.each do |meet| %>
        <%= render meet %>
    <% end %>
</div>



