<h1 class="mb-2">Agenda professionnel</h1>
<%= link_to 'Voir les anciens rendez-vous', agenda_old_path, class: 'mb-3 btn btn-secondary' %>
<div class="row" id="meets">
  <% @meets.each do |meet| %>
    <%= render meet %>
  <% end %>
</div>