<p style="color: green"><%= notice %></p>

<h1>Mon agenda</h1>

<div class="row" id="meets">
  <% @meets.each do |meet| %>
    <div class="col-sm-4">
      <%= render meet %>
    </div>
  <% end %>
</div>

<%= link_to "New meet", new_meet_path %>
