

 
 .font-serif {
    font-family: $font-family-serif;
}
 
 .btn:hover {
     background-color: rgba(0,0,0,0.07);
 }
 
 
 
 .nav-link:hover {
     text-decoration: underline !important;
 }
 
 
 // @include media-breakpoint-up(lg) { 
 //     div#home-row {
 //         overflow: hidden;
 //         &::after {
 //             content: ' ';
 //             position: absolute;
 //             height: var(--width);
 //             width: var(--width);
 //             background: #fff;
 //             border-radius: 0 100% 100% 0;
 //             z-index: -1;
 //             top: 50%;
 //             left: 0;
 //             transform: translate(-30%, -50%);
 //             --width: 100vw;
 //         }
 //     }
 // }