$primary: #2e6de3;
// $secondary:  #dee4ef;
// $secondary:  #d4e3ff;
$secondary:  #d9e5fb;

$body-bg: #f2f2f4;
$input-border-color: #adb5bd;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

$enable-negative-margins: true;

$font-family-sans-serif:
    'Montserrat',
    // Cross-platform generic font family (default user interface font)
    system-ui,
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Windows
    "Segoe UI",
    // Android
    Roboto,
    // Basic web fallback
    "Helvetica Neue", Arial,
    // Linux
    "Noto Sans",
    "Liberation Sans",
    // Sans serif fallback
    sans-serif,
    // Emoji fonts
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-family-serif:
    Cardo;


$link-decoration: none;
$link-hover-decoration: underline;

$font-size-base: 1.1rem;

    
$border-radius:               .375rem !default;
$border-radius-sm:            .25rem;
$border-radius-lg:            $border-radius-sm * 2;
$border-radius-xl:            $border-radius-lg * 2;
$border-radius-2xl:           $border-radius-xl * 2;
$border-radius-pill:          50rem !default;



$card-border-radius: $border-radius-lg;
$card-border-width: 0;
$card-border-color: transparent;

$accordion-bg: transparent;

$dropdown-border-width: 0;
$dropdown-border-color: transparent;

$alert-padding-y: $spacer * 0.8;
$alert-padding-x: $spacer * 1.3;
$alert-border-width: 0;